<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accès Restreint - RemindR</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Accès Restreint</h1>
        <p class="lead">Vous devez être connecté pour accéder à cette page.</p>
        <div class="my-4">
            <a href="/inscription" class="btn btn-primary btn-lg mr-3">Inscription</a>
            <a href="/connexion" class="btn btn-success btn-lg">Connexion</a>
        </div>
    </div>
</body>
</html>
